.neon-dark-theme {
    background-color: #335;
    color: white;
}
ul {
	list-style: none;
	width: 90%;
}
li {
	display: inline-block;
}
li:nth-child(2) {
	margin-left: 7.5%;
}
h1 {
	text-decoration: underline;
}
.table {
	text-align: center;
	vertical-align: center;
	width: 30%;
}
.table caption {
    font-weight: bolder;
	width: 100%;
}
.table tbody tr th {
	text-align: justify;
}
.table tbody tr td {
	text-align: justify;
}
.table tbody tr td input[type=text] {
    background: rgba(255, 255, 255, 0.03);
    color: white;
}
.table tbody tr td input[type=email] {
    background: rgba(255, 255, 255, 0.03);
    color: white;
}
.table tbody tr td input[type=number] {
    background: rgba(255, 255, 255, 0.03);
    color: white;
}
.table tbody tr td input[type=password] {
    background: rgba(255, 255, 255, 0.03);
    color: white;
}
.table tbody tr td input[type=submit]
{
	color: white;
	background-color: #333;
	border: 2px solid #0000FF;
	padding: 5%;
}
.table tbody tr td input[type=submit]:hover
{
	cursor: pointer;
	border: 3px solid #0000FF;
}
.table tbody tr td input[type=reset]
{
	color: white;
	background-color: #333;
	border: 2px solid #0000FF;
	padding: 2%;
}
.table tbody tr td input[type=reset]:hover
{
	cursor: pointer;
	border: 3px solid #0000FF;
}