ul {
	list-style: none;
}
.dark-theme
{
	background-color: #333;
	color: white;
	text-align: center;
}
.table
{
	text-align: center;
	vertical-align: center;
	width: 75%;
	margin-left: 12.5%;
}
.table caption
{
	font-weight: bolder;
	border: 4px solid blue;
}
.table thead tr th
{
	border-bottom: 3px solid white;
}
.table tbody tr th
{
	border-bottom: 2px solid #BBB;
}
.table tbody tr td
{
	border-bottom: 2px solid #BBB;
}
.table tbody tr td:nth-child(4) {
	text-align: justify;
}
.table tbody tr td input[type=text]
{
	background-color: #333;
	color: white;
	width: 100%;
	text-align: center;
}
.table tbody tr td a {
	color: gold;
}
.table tbody tr td a:active {
	color: white;
}
.table tbody tr td a:visited {
	color: #0000FF;
}
.table tbody tr td a:hover {
	color: red;
}
.table tbody tr th input[type=submit]
{
	color: white;
	background-color: #333;
	border: 2px solid #0000FF;
}
.table tbody tr th input[type=submit]:hover
{
	cursor: pointer;
	border: 3px solid #0000FF;
}
.table tbody tr td input[type=submit]
{
	color: white;
	background-color: #333;
	border: 2px solid #0000FF;
}
.table tbody tr td input[type=submit]:hover
{
	cursor: pointer;
	border: 3px solid #0000FF;
}
.table tbody tr th input[type=reset]
{
	color: white;
	background-color: #333;
	border: 2px solid #0000FF;
}
.table tbody tr th input[type=reset]:hover
{
	cursor: pointer;
	border: 3px solid #0000FF;
}
.table tbody tr td input[type=reset]
{
	color: white;
	background-color: #333;
	border: 2px solid #0000FF;
}
.table tbody tr td input[type=reset]:hover
{
	cursor: pointer;
	border: 3px solid #0000FF;
}
.table tbody tr td ul {
	list-style: square;
	text-align: justify;
	vertical-align: middle;
}
.table tbody tr td ul li ul {
	list-style: binary;
}
.labeledCheckbox
{
	border: 2px solid #335;
}